<div class="d-flex flex-column shadow-lg border-0 rounded-5 p-4">

    <EntityForm Entity="@Book"
                CurrentPost="@CurrentPost"
                FormPostWithExit="@PostWithExit"
                InvalidForm="@InvalidForm"
                OnValidSumbit="@OnValidSumbit">

        <div class="mb-3">
            <BPInputText Label="Title" @bind-Value="@Book.Title" PlaceHolder="El Quijote" />
        </div>

        <div class="mb-3">
            <BPInputText Label="Author" @bind-Value="@Book.Author" PlaceHolder="Cervantes" />
        </div>

        <div class="mb-3">
            <label class="mb-2">Book Image:</label>
            <InputFile class="form-control text-muted" @bind-Value="@Book.BookImage" />
        </div>

        <div class="mb-3">

            <label class="form-label fw-bold">State</label>
            <InputCheckbox class="form-check text-muted" type="checkbox" @bind-Value="@Book.State" />
        </div>
    </EntityForm>

</div>

@code {
    [Parameter, EditorRequired] public Book Book { get; set; }
    [Parameter, EditorRequired] public bool CurrentPost { get; set; } = false;
    [Parameter, EditorRequired] public bool PostWithExit { get; set; } = false;
    [Parameter, EditorRequired] public EventCallback OnValidSumbit { get; set; }
    [Parameter] public bool InvalidForm { get; set; } = true;
}
